<div class="relative w-screen h-screen overflow-hidden bg-white">
  <div class="fixed top-0 left-0 m-2 z-5 flex gap-2">
    <button
      (click)="addNewLine('straight')"
      class="w-3rem h-3rem border-round-xl shadow-2 cursor-pointer flex align-items-center justify-content-center background"
      title="Add Straight Line"
      id="addbuttons"
      style="border: 1px solid #ff9100"
    >
      <img src="/assets/line.svg" />
    </button>
    <button
      (click)="addNewLine('step')"
      class="w-3rem h-3rem border-round-xl shadow-2 cursor-pointer flex align-items-center justify-content-center background"
      title="Add Step Line"
      id="addbuttons"
      style="border: 1px solid #ff9100"
    >
      <img src="/assets/step.svg" class="" />
    </button>
    <button
      (click)="addNewLine('curve')"
      class="w-3rem h-3rem border-round-xl shadow-2 cursor-pointer flex align-items-center justify-content-center background"
      title="Add Curve Line"
      id="addbuttons"
      style="border: 1px solid #ff9100"
    >
      <img src="/assets/curve.svg" class="" />
    </button>
  </div>

  <div
    *ngIf="activeId"
    class="fixed top-0 left-50 m-3 px-3 border-round-xl shadow-6 z-4 flex align-items-center gap-3 background"
    style="transform: translateX(-50%); height: 50px"
  >
    <div class="relative flex align-items-center h-full">
      <img
        (click)="toggleLineStyle()"
        [title]="
          activeLine?.type === 'curve' ? 'Switch to Pointy' : 'Switch to Smooth'
        "
        class="cursor-pointer"
        style="width: 1.75rem"
        [src]="
          activeLine?.type === 'curve'
            ? '/assets/roundy.svg'
            : '/assets/pointy.svg'
        "
      />
    </div>
    <div class="relative h-full flex align-items-center" id="maincolor">
      <img
        title="Line Width"
        class="cursor-pointer"
        [src]="
          menuStates.width ? '/assets/linewidth2.svg' : '/assets/linewidth.svg'
        "
        (click)="menuStates.width = !menuStates.width"
      />

      <div
        *ngIf="menuStates.width"
        title="Line Width"
        class="absolute top-100 left-50 mt-3 border-round shadow-4 p-3  background border-round-xl"
        id="maincolor"
        style="transform: translateX(-50%); z-index: 10"
      >
        <div class="flex align-items-center justify-content-center gap-1">
          <button
            class="p-button-text p-1 border-1 border-round-xs surface-100 hover:surface-200 cursor-pointer custom-width-btn hover:maincolorborder"

            (click)="adjustWidth(-1)"
            [disabled]="(activeLine?.width || 2) <= 1 || activeLine?.locked"
          >
            <i class="pi pi-minus text-xs"></i>
          </button>

          <input
            type="number"
            title="Line Width"
            [value]="activeLine?.width || 2"
            (input)="onWidthChange($any($event.target).value)"
            class="w-3rem p-1 text-center border-1 border-round-xs text-sm background no-spinners"
            [disabled]="activeLine?.locked"
          />

          <button
            class="p-button-text p-1 border-1 border-round surface-100 hover:surface-200 cursor-pointer custom-width-btn"
            (click)="adjustWidth(1)"
            [disabled]="activeLine?.locked"
          >
            <i class="pi pi-plus text-xs"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="flex align-items-center justify-content-center h-full">
      <div
        class="relative w-1rem h-1rem border-2 border-circle shadow-2 cursor-pointer transition-all flex align-items-center justify-content-center"
        [style.backgroundColor]="activeLine?.color || '#000000'"
        [style.borderColor]="'#ff9100'"
        (click)="colorInput.click()"
        title="Change Color"
      >
        <input
          #colorInput
          type="color"
          class="absolute top-100 opacity-0 w-full h-full cursor-pointer"
          [value]="activeLine?.color || '#000000'"
          (input)="updateActiveLine($any($event.target).value, null)"
        />
      </div>
    </div>

    <div class="flex align-items-center justify-center-safe gap-3 h-full">
      <i
        title="Lock Line"
        class="pi cursor-pointer text-lg"
        [ngClass]="activeLine?.locked ? 'pi-lock ' : 'pi-lock-open'"
        (click)="updateActiveLine(null, null, true)"
      ></i>

      <i
        title="Delete Line"
        class="pi pi-trash text-lg cursor-pointer"
        (click)="deleteActiveLine()"
      ></i>
    </div>
  </div>

  <div
    class="w-full h-full"
    style="
      background-image: radial-gradient(#cbd5e1 1.2px, transparent 1.2px);
      background-size: 24px 24px;
    "
  >
    <canvas
      #editorCanvas
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (dblclick)="onDoubleClick($event)"
      class="block w-full h-full"
    >
    </canvas>
  </div>

  <div
    class="fixed bottom-0 left-0 w-full z-5 flex flex-column align-items-end pointer-events-none"
  >
    <button
      (click)="showFooter = !showFooter"
      class="m-4 p-button border-circle w-3rem h-3rem border-2 shadow-4 cursor-pointer flex align-items-center justify-content-center pointer-events-auto maincolorborder hoverbackgroundclass"
      id="maincolor"
    >
      <i
        class="pi text-900 font-bold"
        [ngClass]="showFooter ? 'pi-chevron-down' : 'pi-angle-up'"
      ></i>
    </button>

    <div
      class="w-full border-top-2 border-900 transition-all transition-duration-300 pointer-events-auto shadow-8 background"
      id="maincolor"
      [style.height]="showFooter ? '80px' : '0'"
      [style.opacity]="showFooter ? '1' : '0'"
    >
      <div class="flex align-items-center justify-content-between h-full px-5">
        <div class="flex align-items-center gap-4 w-auto">
          <div class="flex align-items-center gap-2">
            <i
              class="pi pi-minus cursor-pointer text-xs text-500 border-none px-4 py-2 font-bold shadow-2 flex align-items-center gap-2 background hoverbackgroundclass border-round-xl"
              (click)="adjustZoom(-0.1)"
            ></i>

            <input
              type="range"
              min="0.1"
              max="2.0"
              step="0.1"
              [(ngModel)]="zoomLevel"
              (input)="render()"
              class="cursor-pointer zoom-slider background"
            />

            <i
              class="pi pi-plus px-4 py-2 font-bold cursor-pointer shadow-2 flex align-items-center gap-2 background hoverbackgroundclass border-round-xl"
              (click)="adjustZoom(0.1)"
            ></i>

            <button
              (click)="resetZoom()"
              class="px-4 py-2 border-none font-bold cursor-pointer shadow-2 flex align-items-center gap-2 background hoverbackgroundclass border-round-xl"
              id="maincolor"
            >
              Reset Zoom
            </button>
          </div>

          <div
            class="flex align-items-center gap-1 border-1 border-300 border-round px-2 py-1 bg-white shadow-1"
          >
            <input
              type="number"
              [value]="(zoomLevel * 100).toFixed(0)"
              (change)="onZoomInput($any($event.target).value)"
              class="border-none outline-none w-3rem text-center font-bold text-900 border-round-xl no-spinners"
            />
            <span class="text-900 font-medium">%</span>
          </div>
        </div>

        <button
          (click)="addToProject()"
          id="maincolor"
          class="border-none px-4 py-2 font-bold cursor-pointer shadow-2 flex align-items-center gap-2 background hoverbackgroundclass border-round-xl"
        >
          <i class="pi pi-plus-circle"></i> Add to Project
        </button>
      </div>
    </div>
  </div>
</div>
