<div class="relative w-screen h-screen overflow-hidden bg-white">
  <div class="fixed top-0 left-0 m-3 z-5 flex gap-2">
    <button
      (click)="addNewLine('straight')"
      class="w-3rem h-3rem bg-white border-2 border-round shadow-2 cursor-pointer hover:bg-gray-100 flex align-items-center justify-content-center"
      title="Add Straight Line"
    >
      <img src="/assets/line.svg" class="" />
    </button>
    <button
      (click)="addNewLine('step')"
      class="w-3rem h-3rem bg-white border-2 border-round shadow-2 cursor-pointer hover:bg-gray-100 flex align-items-center justify-content-center"
      title="Add Step Line"
    >
      <img src="/assets/step.svg" class="" />
    </button>
    <button
      (click)="addNewLine('curve')"
      class="w-3rem h-3rem bg-white border-2 border-round shadow-2 cursor-pointer hover:bg-gray-100 flex align-items-center justify-content-center"
      title="Add Curve Line"
    >
      <img src="/assets/curve.svg" class="" />
    </button>
  </div>

  <div
    *ngIf="activeId"
    class="fixed top-0 left-50 m-3 p-2 bg-white border-round-pill shadow-6 z-4 flex align-items-center gap-2"
    style="transform: translateX(-50%); height: 50px"
  >
    <div class="relative pl-2 flex align-items-center h-full">
      <i
        (click)="toggleLineStyle()"
        [title]="
          activeLine?.type === 'curve' ? 'Switch to Pointy' : 'Switch to Smooth'
        "
        class="pi"
        [ngClass]="activeLine?.type === 'curve' ? 'pi-circle' : 'pi-chevron-up'"
      ></i>
    </div>
    <div
      class="relative px-3 h-full flex align-items-center border-right-1 border-200"
    >
      <i  
      title="Line Width"
        class="pi pi-sliders-h cursor-pointer text-700 hover:text-blue-500"
        (click)="menuStates.width = !menuStates.width"
      ></i>

      <div
        *ngIf="menuStates.width"
        class="absolute top-100 left-50 mt-3 bg-white border-round shadow-4 overflow-y-auto max-h-12rem w-4rem"
        style="transform: translateX(-50%); z-index: 10"
      >
        <div
          *ngFor="let w of widthOptions"
          class="p-2 text-center text-sm hover:bg-blue-50 cursor-pointer border-bottom-1 border-50"
          (click)="updateActiveLine(null, w); menuStates.width = false"
        >
          {{ w }}
        </div>
      </div>
    </div>

    <div class="flex align-items-center gap-2 px-2 h-full">
      <i title="Select Last Color"
        class="pi pi-chevron-left text-xs cursor-pointer text-400 hover:text-900"
        [ngClass]="{ 'opacity-20 pointer-events-none': scrollIndex === 0 }"
        (click)="scrollPalette(-1)"
      ></i>

      <div class="overflow-hidden" style="width: 170px">
        <div
          class="flex gap-2 transition-transform transition-duration-300"
          [style.transform]="'translateX(' + -scrollIndex * 32 + 'px)'"
        >
          <div
            *ngFor="let c of colors"
            title="Color : {{ c }}"
            class="w-2rem h-2rem border-2 shadow-2 cursor-pointer flex-shrink-0 transition-all border-round"
            [style.backgroundColor]="c"
            [style.borderColor]="activeLine?.color === c ? '#666' : 'white'"
            [style.transform]="
              activeLine?.color === c ? 'scale(1.1)' : 'scale(1)'
            "
            (click)="updateActiveLine(c, null)"
          ></div>
        </div>
      </div>

      <i title="Select Next Color"
        class="pi pi-chevron-right text-xs cursor-pointer text-400 hover:text-900"
        [ngClass]="{
          'opacity-20 pointer-events-none': scrollIndex >= colors.length - 5,
        }"
        (click)="scrollPalette(1)"
      ></i>
    </div>

    <div
      class="flex align-items-center justify-center-safe gap-3 px-3 border-left-1 border-200 h-full"
    >
      <i title="Lock Line"
        class="pi cursor-pointer text-lg transition-colors"
        [ngClass]="
          isGlobalLocked ? 'pi-lock text-blue-500' : 'pi-lock-open text-700'
        "
        (click)="toggleGlobalLock()"
      ></i>

      <i title="Delete Line"
        class="pi pi-trash text-red-500 text-lg cursor-pointer hover:text-red-700"
        (click)="deleteActiveLine()"
      ></i>
    </div>
  </div>

  <div
    class="w-full h-full"
    style="
      background-image: radial-gradient(#cbd5e1 1.2px, transparent 1.2px);
      background-size: 24px 24px;
    "
  >
    <canvas
      #editorCanvas
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (dblclick)="onDoubleClick($event)"
      class="block w-full h-full"
    >
    </canvas>
  </div>

  <div
    class="fixed bottom-0 left-0 w-full z-5 flex flex-column align-items-end pointer-events-none"
  >
    <button
      (click)="showFooter = !showFooter"
      class="m-4 p-button border-circle w-3rem h-3rem bg-white border-2 shadow-4 cursor-pointer flex align-items-center justify-content-center pointer-events-auto hover:bg-gray-100"
    >
      <i
        class="pi text-900 font-bold"
        [ngClass]="showFooter ? 'pi-chevron-down' : 'pi-angle-up'"
      ></i>
    </button>

    <div
      class="w-full bg-white border-top-2 border-900 transition-all transition-duration-300 pointer-events-auto shadow-8"
      [style.height]="showFooter ? '80px' : '0'"
      [style.opacity]="showFooter ? '1' : '0'"
    >
      <div class="flex align-items-center justify-content-between h-full px-5">
        <div class="flex align-items-center gap-4 w-auto">
          <div class="flex align-items-center gap-2">
            <i
              class="pi pi-minus cursor-pointer text-xs text-500 hover:text-900 bg-blue-600 text-black border-none border-round px-4 py-2 font-bold hover:bg-blue-700 shadow-2 flex align-items-center gap-2"
              (click)="adjustZoom(-0.1)"
            ></i>

            <input
              type="range"
              min="0.1"
              max="2.0"
              step="0.1"
              [(ngModel)]="zoomLevel"
              (input)="render()"
              class="cursor-pointer zoom-slider"
            />

            <i
              class="pi pi-plus bg-blue-600 text-black border-none border-round px-4 py-2 font-bold cursor-pointer hover:bg-blue-700 shadow-2 flex align-items-center gap-2"
              (click)="adjustZoom(0.1)"
            ></i>

            <button
              (click)="resetZoom()"
              class="bg-blue-600 text-black border-none border-round px-4 py-2 font-bold cursor-pointer hover:bg-blue-700 shadow-2 flex align-items-center gap-2"
            >
              Reset Zoom
            </button>
          </div>

          <div
            class="flex align-items-center gap-1 border-1 border-300 border-round px-2 py-1 bg-white shadow-1"
          >
            <input
              type="number"
              [value]="(zoomLevel * 100).toFixed(0)"
              (change)="onZoomInput($any($event.target).value)"
              class="border-none outline-none w-3rem text-center font-bold text-900"
            />
            <span class="text-900 font-medium">%</span>
          </div>
        </div>

        <button
          (click)="addToProject()"
          class="bg-blue-600 text-black border-none border-round px-4 py-2 font-bold cursor-pointer hover:bg-blue-700 shadow-2 flex align-items-center gap-2"
        >
          <i class="pi pi-plus-circle"></i> Add to Project
        </button>
      </div>
    </div>
  </div>
</div>
