@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

/* Canvas Styling */
canvas {
  display: block;
  background-color: #ffffff;
  background-image: radial-gradient(#cbd5e1 1.2px, transparent 1.2px);
  background-size: 24px 24px;
}

input[type="range"] {
  accent-color: #ff9100; /* Sets the color of the thumb and the track portion before it */
}

input:focus {
  border-color: #ff9100; /* Sets the color of the thumb and the track portion before it */
  outline: none;
}

/* Hide arrows for Chrome, Safari, Edge, Opera */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
.no-spinners {
  -moz-appearance: textfield;
}
